.calendar__red-line {
    position: relative;
    width: 100%;
    height: 2px;
    display: block;
    background-color: red;

    &::before {
      content: '';
      width: 14px;
      height: 14px;
      position: absolute;
      top: -6px;
      left: -8px;
      border-radius: 25px;
      background-color: red;
    }
  }